* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
body {background: #fff;font: 14px/170% Georgia,serif;color: #696969;-webkit-font-smoothing: antialiased;}
input, textarea {font: 14px Georgia,serif;}
input[type="submit"], button {font: 16px Georgia,serif;cursor: pointer;}
a {transition: all ease-in .3s;}
a:link {text-decoration: none;}
a:hover {text-decoration: none !important;}
p, dl {margin-bottom: 20px;}
ul, ol {margin: 0 24px 30px 24px;padding: 0;}
ul li {list-style: disc;margin-bottom: 4px;}
ol li {list-style: decimal;margin-bottom: 4px;}
li ul, li ol {margin-top: 4px;}
blockquote {margin: 30px 7%;padding-left: 20px;}
address {margin-bottom: 20px;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
#primary article.hentry blockquote {margin-left: 50px;border-left: 2px solid #ccc;}
#primary article.format-quote blockquote {margin: 0;text-align: center;padding: 0;border: none;font-size: 36px;font-weight: 700;color: #333;line-height: 120%;}
#primary article.format-quote blockquote cite {font-weight: 700;font-family: Lato;font-style: normal;text-transform: uppercase;font-size: 12px;color: #a9a9a9;display: block;margin-top: 30px;}
pre, code {font: .9em/120% "Courier New",Courier,monospace;overflow-x: auto;overflow-y: hidden;margin: 30px 0;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}
table {width: 100%;max-width: 100%;margin-bottom: 20px;}
th {text-align: left;}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;}
table > thead > tr > th {vertical-align: bottom;border-bottom: 2px solid #ddd;}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {border-top: 0;}
table > tbody + tbody {border-top: 2px solid #ddd;}
img, embed, iframe, object, video {max-width: 100%;}
.socmed-thumbnail iframe {margin: 0 auto !important;}
img {height: auto;}
::selection {background-color: #f66767;color: #fff;}
.clear {float: left;clear: both;width: 100%;}
.clearfix {}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
.clearfix {width: 100%;clear: both;}
.thumbnail {position: relative;}
.thumbnail img {width: 100%;height: 100%;vertical-align: top;}
.table {display: table;width: 100%;height: 100%;}
.tablecell {display: table-cell;vertical-align: middle;}
h1, h2, h3, h4, h5, h6 {color: #000;}
#primary article.hentry h1, #primary article.hentry h2, #primary article.hentry h3, #primary article.hentry h4, #primary article.hentry h5, #primary article.hentry h6 {line-height: 120%;color: #000;}
#primary article.hentry h1, #primary article.hentry h2, #primary article.hentry h3, #primary article.hentry h4 {margin-bottom: 20px;}
#primary article.hentry h5, #primary article.hentry h6 {margin-bottom: 10px;}
#nprogress .bar {background-color: #ec407a;}
body.admin-bar #nprogress .bar {top: 32px;}
body.admin-bar #nprogress .spinner {top: 47px;z-index: 1000;}
#masthead .header-main {background: #fff;box-shadow: 1px 1px 10px rgba(0,0,0,.3);}
.site-header {padding-bottom: 1px;}
nav.site-navigation {text-align: center;position: relative;}
.site-navigation ul {text-align: center;margin: 0 auto;position: relative;}
.site-navigation ul li {display: inline-block;text-align: left;margin-bottom: 0;position: relative;padding-right: 10px;list-style: none !important;}
.site-navigation ul li.menu-item-has-children {padding-right: 10px;position: relative;list-style: none !important;}
.site-navigation ul li a {font-family: Roboto;text-transform: none;line-height: 140%;font-weight: 400;font-style: normal;color: #555;padding: 20px 5px 20px 0;font-size: 14px;display: block;-webkit-transition: all .24s ease-in-out;-moz-transition: all .24s ease-in-out;transition: all .24s ease-in-out;}
.site-navigation ul.main-menu > li > a:after {display: inline-block;content: " ";width: 1px;height: 10px;border-right: 1px solid #ccc;padding: 0 10px;position: relative;top: 0;}
.site-navigation ul.main-menu > li:last-child > a:after {border-right: none;}
#masthead .header-main.sticky .site-navigation ul li a {color: #666;padding: 15px 20px;list-style: none !important;}
.primary-navigation ul li:hover > ul {display: block;list-style: none !important;}
.primary-navigation .menu-item-has-children:hover > a:before {content: "";position: absolute;bottom: 0;height: 1px;width: 1px;left: 10px;border: 10px solid;border-color: transparent transparent #666 transparent;}
.primary-navigation .menu-item-has-children:hover > ul.sub-menu a:before {display: none;}
.primary-navigation ul.sub-menu {width: 200px;position: absolute;top: 55px;z-index: 2;color: #fff;display: none;background: #555;list-style: none !important;box-shadow: 1px 7px 10px rgba(0,0,0,.3);}
.primary-navigation ul.sub-menu li ul.sub-menu {position: absolute;width: 200px;left: 200px;top: 0;z-index: 10;list-style: none !important;}
.primary-navigation ul.sub-menu li a {display: block;border-bottom: solid 1px #666;list-style: none !important;}
.primary-navigation ul li ul ul.sub-menu {width: 200px;top: 0;left: 220px;list-style: none !important;}
.primary-navigation ul li ul li {display: block;list-style: none !important;}
.primary-navigation ul li ul li:hover > a {color: #c6671a;list-style: none !important;}
.primary-navigation ul li ul li a {color: #fff;list-style: none !important;padding: 15px 30px;}
.primary-navigation ul li ul li {width: 100%;padding-right: 0;list-style: none !important;}
.primary-navigation .sub-menu li > .sub-menu:before {content: "";border: none;}
.primary-navigation ul li a:hover, .primary-navigation ul li.current-menu-item a {color: #c6671a;}
#sidebar {float: right;width: 260px;}
.select-menu {padding: 10px;width: 100%;border: solid 1px #ccc;display: none;max-width: 200px;}
#logo {text-align: center;margin: 50px 0 70px 0;}
#logo .box {display: inline-block;margin: 0 auto;margin-bottom: 20px;padding: 30px 50px;border: 5px solid #212121;position: relative;}
#logo .box:after {content: " ";position: absolute;z-index: -1;top: 5px;left: 5px;right: 5px;bottom: 5px;border: 1px solid #555;}
#logo h2.site-title {font-size: 50px;line-height: 1;margin: 0;}
#logo h4.site-desc {font-size: 14px;line-height: 1;margin: 0;}
.menu-main-menu-container ul.menu li.menu-item {display: block;}
.menu-main-menu-container ul.menu li.menu-item a {font-weight: 700;font-size: 14px;display: block;color: #000;}
.menu-main-menu-container ul.menu li.menu-item:hover > a {opacity: .6;}
.menu-main-menu-container ul.menu li.menu-item ul.sub-menu li.menu-item a {color: #505050 !important;padding: 0;text-transform: capitalize;}
.menu-main-menu-container ul.menu li.menu-item-has-children > a:after {content: "+";font-weight: normal;font-size: 18px;line-height: 0;margin-left: 10px;}
.menu-main-menu-container ul.menu li.menu-item ul.sub-menu {}
#jPanelMenu-menu {padding: 20px;background: #ddd;}
body.logged-in.admin-bar #jPanelMenu-menu {padding-top: 52px;}
.menu-trigger {display: block;display: none;position: absolute;border: solid 1px;width: 40px;height: 40px;text-align: center;line-height: 40px;cursor: pointer;left: 10%;margin-left: -40px;color: #aaa;background: #fff;z-index: 10;top: 0;}
.menu-trigger:hover {color: #000;}
.menu-trigger.sticky {position: fixed;background: #000;color: #fff;}
.container {max-width: 1000px;margin: 0 auto;}
.container:after {content: "";display: table;width: 100%;}
#primary {float: left;max-width: 680px;padding-bottom: 90px;}
.page {padding-top: 0px;position: relative;}
.page-home {padding-top: 90px;position: relative;}
.page-title {text-align: center;}
.page-title .subtitle {color: #aaa;font-style: italic;}
.page-title h1 {font-size: 40px;text-transform: uppercase;margin-bottom: 20px;}
#primary h2.archive-title {margin-bottom: 50px;padding-bottom: 10px;}
#primary h2.archive-title:before {display: inline-block;content: "";font-family: "icomoon";font-size: 20px;margin-right: 15px;}
body.search-results #primary h2.archive-title:before {content: "";}
#primary h2.archive-title {font-size: 25px;font-weight: 700;text-transform: none;}
#primary h2.archive-title span {display: block;margin: 5px 0 0 45px;}
.inner, .pagination {margin: 0 0 50px 0;border-bottom: dashed 1px #ccc;margin-bottom: 50px;padding-bottom: 50px;}
body.single #primary article.hentry .inner {margin-bottom: 0;padding-bottom: 0;border-bottom: none;}
.content .inner {padding-bottom: 0;}
.comments-widget .inner, #comment-form .inner {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.pagination {border-bottom: 0;padding-bottom: 0;margin-bottom: 0;}
.pagination a.newer.right {float: right;}
.pagination a {font-size: 12px;font-weight: 700;text-transform: uppercase;line-height: 1;}
.pagination span {margin-right: 30px;}
.pagination span.next .icon {margin-left: 5px;}
.pagination span.prev .icon {margin-right: 5px;}
.pagination a.current {opacity: 1;}
.pagination .wp-pagenavi a, .pagination .wp-pagenavi span {border: medium none;font-weight: 400;margin: 2px;padding: 5px 11px;text-decoration: none;}
.pagination .wp-pagenavi span.pages {padding-right: 11px;color: #bebebe;}
.pagination .wp-pagenavi span.current {background-color: #f9f9f9;border-radius: 2px;}
#primary article.sticky {border-left: 10px solid #f5f5f5;padding-left: 50px;}
.entry-header {margin-bottom: 10px;}
body.page-template-default #primary article.type-page .entry-header {margin-bottom: 40px;}
.post-detail .entry-header, .post-detail .entry-meta {}
.entry-header .post-icon {display: none !important;display: inline-block;font-size: 36px;color: #ccc;margin-bottom: 30px;position: relative;line-height: 100%;padding: 0 20px;}
.entry-header .post-icon:after, .entry-header .post-icon:before {content: "";position: absolute;width: 30px;height: 1px;background: #ccc;top: 50%;}
.entry-header .post-icon:after {left: 100%;}
.entry-header .post-icon:before {right: 100%;}
h3.post-title, h1.post-title {font-weight: 700;font-size: 30px;margin-bottom: 0 !important;}
article.hentry .thumbnail, .featured-image {margin-bottom: 20px;}
#primary article.format-status .thumbnail {background-color: #f9f9f9;padding: 50px 0;}
.entry-meta, .breadcrumbs {margin-bottom: 40px;}
.breadcrumbs {margin-bottom: 0;}
.entry-meta span, .breadcrumbs span {margin-right: 10px;}
.entry-meta span a {font-weight: 700;color: #c9c9c9;}
.entry-meta span a:hover, .breadcrumbs span a:hover {color: #000;}
.entry-content {text-align: left;margin-bottom: 50px;}
#primary article.format-quote .entry-content {margin-bottom: 0;}
body.single #primary article.hentry .entry-content {margin-bottom: 30px;}
#primary article.format-quote .entry-content,  {margin-bottom: 0;}
.button, form input[type="submit"], form button {font-family: Lato;text-transform: uppercase;font-size: 12px;font-weight: 700;color: #000;letter-spacing: 2px;border: solid 1px #000;padding: 10px 25px;line-height: 8px;display: inline-block;}
.read-more {text-align: center;margin: 0 auto;}
.button {background: #fff;}
.button.medium {padding: 20px 40px;font-size: 14px;border-radius: 35px;}
.button:hover {background: #f9f9f9;opacity: 1;}
article.hentry .thumbnail iframe {width: 100%;max-width: 90% !important;margin: 0 auto !important;}
article.hentry .thumbnail .embed-player iframe {max-width: 100% !important;}
.thumbnail.socmed-thumbnail {text-align: center;padding: 80px 0;background-size: cover;}
#primary article.hentry iframe.twitter-tweet {margin: 0 auto !important;max-width: 80% !important;}
#primary article.hentry .post-tags {text-align: left;margin-bottom: 30px;}
.post-tags a {font-size: 11px;letter-spacing: 1px;text-transform: uppercase;margin-right: 5px;}
.post-tags span:hover > a {color: #000;}
.post-navigation ul:after {content: "";display: table;}
.post-navigation ul li {float: left;width: 50%;padding: 0 40px;text-align: right;}
.post-navigation ul li:last-child {text-align: left;}
.post-navigation ul li span {font-family: Lato;text-transform: uppercase;font-weight: 900;font-size: 12px;margin-bottom: 20px;display: block;}
.post-navigation ul li:hover {opacity: .6;}
.about-author .detail h4 {font-size: 24px;margin-bottom: 20px;}
section#about-site .detail .social ul, .widgets.about-author .social ul {margin: 0;}
section#about-site .detail .social ul li, .widgets.about-author .social ul li {display: inline-block;font-size: 18px;list-style: none;margin: 0 10px 10px 0;}
#respond {float: left;clear: both;width: 100%;margin-bottom: 80px;}
.widgets.comments-widget ul {margin: 0;}
.widgets.comments-widget ul li {list-style: none;margin-bottom: 30px;padding-bottom: 30px;border-bottom: solid 1px #eee;}
.widgets.comments-widget ul li:last-child .main-comment {border-bottom: none;padding-bottom: 0;margin-bottom: 0;}
.widgets.comments-widget ul li .thumbnail {overflow: hidden;float: left;width: 90px;height: 90px;border-radius: 50%;}
.widgets.comments-widget ul li .detail {margin-left: 140px;}
.widgets.comments-widget ul li .detail h5 {font-size: 16px;line-height: 20px;}
.widgets.comments-widget ul li .detail .entry-meta {margin-bottom: 20px;}
.widgets.comments-widget ul.children {margin-left: 90px;margin-bottom: 20px;}
.widgets.comments-widget ul.children li:last-child {margin-bottom: 0;padding-bottom: 0;border-bottom: none;}
.widgets.comments-widget ul.children .thumbnail {width: 70px;height: 70px;}
.widgets.comments-widget ul.children .detail {margin-left: 120px;}
.widgets.comments-widget ul li .detail .reply a {font-size: 12px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;margin-right: 10px;}
.gallery-grid .gallery ul {margin-bottom: 90px;}
.gallery-grid .gallery ul li {float: left;padding: 5px;width: 33.333%;position: relative;}
.gallery-grid .gallery ul:after {content: "";display: table;}
.gallery-grid .gallery ul li .overlay {position: absolute;z-index: 2;background: rgba(0,0,0,.7);top: 5px;left: 5px;right: 5px;bottom: 5px;padding: 20px;text-align: center;opacity: 0;cursor: pointer;}
.gallery-grid .gallery ul li .overlay:hover {opacity: 1;}
.gallery-grid .gallery ul li .overlay:after, .gallery-grid .gallery ul li .overlay:before {transition: all ease-in-out .3s;}
.gallery-grid .gallery ul li .overlay:after {content: "";height: 0;position: absolute;top: 50%;left: 20px;bottom: 50%;right: 20px;border-left: solid 1px #fff;border-right: solid 1px #fff;}
.gallery-grid .gallery ul li .overlay:hover:after {top: 20px;bottom: 20px;height: auto;}
.gallery-grid .gallery ul li .overlay:before {content: "";width: 0;position: absolute;left: 50%;border-top: solid 1px #fff;border-bottom: solid 1px #fff;top: 20px;bottom: 20px;right: 50%;}
.gallery-grid .gallery ul li .overlay:hover:before {left: 20px;right: 20px;width: auto;}
.gallery-grid .gallery ul li .overlay h3 {color: #fff;font-size: 14px;}
.gallery-grid .gallery ul li .overlay span {font-size: 14px;font-style: italic;line-height: 100%;display: block;}
h4.widget-title, .yarpp-related h3 {font-family: Lato;font-size: 12px;color: #000;letter-spacing: 2px;margin-bottom: 30px;padding-bottom: 10px;text-transform: uppercase;border-bottom: 1px solid #eee;}
.widget ul, .widget_archive ul, .widget_categories ul, .widget_pages ul, .widget_rss ul, .widget_meta ul, .widget_nav_menu ul, .widget_recent_comments ul, .widget_recent_entries ul, .widget ol, .widget_archive ol, .widget_categories ol, .widget_pages ol, .widget_rss ol, .widget_meta ol, .widget_nav_menu ol, .widget_recent_comments ol, .widget_recent_entries ol {margin: 0 !important;}
.widget li, .widget_archive li, .widget_categories li, .widget_pages li, .widget_rss li, .widget_meta li, .widget_nav_menu li, .widget_recent_comments li, .widget_recent_entries li {float: left;clear: both;width: 100%;list-style: none;margin: 0 0 20px 0;position: relative;}
.widget li:last-child {margin-bottom: 0;}
.widget ul ul, .widget ol ol {margin: 15px 0 !important;}
.widget_recent_comments li.recentcomments, .widget_recent_entries ul li, .widget_pages ul li, .widget_categories ul li, .widget_nav_menu ul li, .widget_display_topics ul li {padding-left: 23px;}
.widget_recent_comments li.recentcomments:before, .widget_recent_entries li:before, .widget_pages li:before, .widget_categories li:before, .widget_nav_menu li:before, .widget_display_topics li:before {display: inline-block;content: "";font-family: "icomoon";font-size: 16px;position: absolute;top: 0;left: 0;}
.widget_recent_comments li.recentcomments:before {content: "";}
.widget_archive li a, .widget_categories li a, .widget_pages li a, .widget_rss li a, .widget_meta li a, .widget_nav_menu li a, .widget_recent_comments li a, .widget_recent_entries li a {}
.recent-post-widget ul li {border-bottom: 1px solid #f0f0f0;padding-bottom: 20px;}
.recent-post-widget ul .thumbnail {float: left;width: 60px;margin: 0 10px 0 0;}
.recent-post-widget ul .detail {float: left;width: 65%;line-height: 120%;}
.recent-post-widget .entry-meta {margin-top: 5px;margin-bottom: 0;}
.widgets.about-author {float: left;clear: both;width: 100%;margin-bottom: 50px;}
.widgets.about-author .inner {margin-bottom: 0;padding-bottom: 0;border-bottom: none;}
.widget.latest-tweets ul li {padding-left: 25px;position: relative;}
.widget.latest-tweets ul li .entry-meta {margin: 5px 0 0 0;}
.widget.latest-tweets ul li:before {content: "";font-family: "icomoon";font-size: 20px;color: #26c4f1;position: absolute;top: 0;left: 0;}
.widget.latest-tweets a.button {font-size: .8em;margin-top: 20px;padding: 10px 20px !important;}
.widget.widget_search div.form-group {margin-bottom: 0;}
.yarpp-related {float: left;clear: both;width: 100%;margin-bottom: 50px;}
.yarpp-related h3 {margin-bottom: 20px;}
.yarpp-related a.yarpp-thumbnail {display: inline-block;width: 150px;margin: 0 20px 20px 0;border: none;}
.yarpp-related a.yarpp-thumbnail:last-child {margin-right: 0;}
.yarpp-related a.yarpp-thumbnail img {width: 100%;width: 100%;margin: 0;}
.yarpp-related .yarpp-thumbnails-horizontal .yarpp-thumbnail-title {width: 100%;margin: 10px 0 0 0;}
#about-site .thumbnail, .about-author .thumbnail {float: left;overflow: hidden;width: 130px;height: 130px;}
#about-site .detail, .about-author .detail {margin-left: 180px;}
.social-sharing {font-size: 28px;text-align: left;margin: 20px 0 50px 0;}
.social-sharing ul {margin: 0;}
.social-sharing ul li {color: #696969;display: inline-block;font-size: 15px;}
.social-sharing ul li a {display: block;background-color: #f9f9f9;font-size: 12px;line-height: 1;padding: 5px 10px 5px 28px;border-radius: 3px;position: relative;border: 1px solid #ccc;}
.social-sharing ul li .icon {background-color: #306199;font-size: 14px;color: #fff;padding: 4px;position: absolute;top: 0;left: 0;}
.social-sharing ul li.twitter .icon {background-color: #26c4f1;}
.social-sharing ul li.googleplus .icon {background-color: #d34836;}
.social-sharing ul li.pinterest .icon {background-color: #d34836;}
.social-sharing ul li:hover a {color: #000;}
#slider-header .thumbnail {background: #000;}
#slider-header ul li {float: left;width: 200px !important;margin-right: 0;position: relative;}
#slider-header ul li .thumbnail img {transition: opacity ease-in .3s;}
#slider-header ul li:hover .thumbnail img {opacity: .4;}
#slider-header ul li .overlay {position: absolute;z-index: 2;bottom: 30px;left: 30px;right: 30px;transition: all ease-in .3s;opacity: 0;}
#slider-header ul li:hover .overlay {opacity: 1;}
#slider-header h3.post-title {font-size: 14px;line-height: 140%;white-space: nowrap;color: #fff;overflow: hidden;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
#slider-header .entry-meta {color: #fff;font-size: 14px;margin-bottom: 0;}
#slider-header .entry-meta span:hover a {color: #fff;}
form button[type="submit"].searchbutton {position: absolute;left: 0;border: 0;background: none !important;padding: 10px;top: 2px;}
.search-widget .form-group input {padding-left: 40px;margin-top: 0 !important;}
.search-widget .form-group .placeholder-helper {display: none !important;}
.widgets ul li {margin-bottom: 30px;}
.recent-post-widget h3.post-title, .post-navigation h3.post-title {font-size: 14px;line-height: 140%;}
.widgets .entry-meta {margin-bottom: 0;font-size: 12px;}
#sidebar .entry-meta, #slider-header .entry-meta {font-size: .8em;}
.row-4-column .column .button {display: inline-block;margin-top: 10px;}
.tagcloud a, .button {-webkit-transition: all .24s ease-in-out !important;-moz-transition: all .24s ease-in-out !important;transition: all .24s ease-in-out !important;}
.button.large {padding: 20px 30px;font-size: 14px;border-radius: 50px;}
.button.large.orange {background: #c6671a;color: #fff;border-color: #c6671a;}
.form-group {position: relative;margin-bottom: 30px;}
.form-group input, .form-group select, .form-group textarea, , form input[type="text"], form input[type="email"], form input[type="password"], form input[type="phone"], form input[type="url"] {width: 100%;padding: 10px;}
.form-group.col-50 input {width: 50%;}
.form-group textarea {min-height: 150px;padding: 10px;}
.float-label .form-group label span {position: absolute;left: 10px;top: 5px;display: none !important;}
form input[type='text'], form input[type='email'], form input[type='password'], form input[type='phone'], form input[type='url'], .input input[type='text'], .input input[type='email'], .input input[type='password'], .input input[type='phone'], .input input[type='url'], .input textarea, .input select {padding: 8px 10px;width: 100%;margin: 0;}
.form-control, form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form textarea, form select, .widget_archive select, .widget_categories select {display: block;width: 100%;height: auto;border: 1px solid #ddd;}
p input.submit, .input input.submit {margin-top: 18px;}
div.input > label {display: block;font-size: 11px;font-weight: 700;opacity: 1;text-transform: uppercase;}
.input {margin-bottom: 10px;}
.form-group.col-60 {width: 60%;}
.form-group label span {font-family: Lato;font-size: 12px;}
.comment-form .form-group {margin-bottom: 30px;}
.comment-form .form-group input, .comment-form .form-group textarea {}
#colophone {float: left;clear: both;width: 100%;text-align: center;margin-top: -1px;padding: 70px 0 50px 0;background: #ddd;font-family: "Lato";font-size: 14px;position: relative;}
#colophone a:link {}
#instagram-feed {clear: both;}
#instagram-feed h3 {font-size: 16px;font-weight: 300;text-align: center;line-height: 1;margin: 0 auto;padding-bottom: 20px;}
#instagram-feed h3 .icon {font-size: 14px;color: #555;line-height: 1;margin-right: 5px;}
#backtotop {display: block;width: 60px;height: 60px;background: #fff;border-radius: 50%;padding: 10px;font-size: 18px;line-height: 40px;position: absolute;top: 0;left: 50%;margin-left: -30px;margin-top: -30px;cursor: pointer;}
#backtotop:hover {color: #fff;background: #000;}
#colophone .social ul {margin: 0;}
#colophone .social ul li {display: inline-block;}
.gallery img {border: none !important;}
h1.site-title {font-size: 35px;line-height: 45px;}
h2.site-desc {font-size: 14px;line-height: 25px;}
body article.hentry {border-bottom: none !important;}
#sidebar .widget {float: left;clear: both;width: 100%;font-size: 14px;margin-bottom: 50px;position: relative;}
#sidebar .entry-meta a {color: #c9c9c9;}
.searchform input {border: none;padding: 10px 10px 10px 40px;border-bottom: solid 1px #aaa;width: 100%;}
form.searchform {position: relative;}
form.searchform #searchsubmit {position: absolute;left: 0;border: 0;background: none;padding: 10px;top: 0;}
.widget.about_author .social a {font-size: 22px;margin: 0 5px 10px 0;}
.widget_tag_cloud a {display: inline-block;font-size: 10px !important;text-transform: uppercase;margin: 0 5px 5px 0;border: 1px solid #c0c0c0;padding: 5px;line-height: 1;}
form button[type="submit"].searchbutton:hover {color: #000;}
.flexslider .slides img {display: block;max-width: 100%;}
.flexslider .slides > li {display: none;-webkit-backface-visibility: hidden;width: auto !important;}
ul.chat {margin: 0;padding: 0;}
ul.chat li {text-align: left;list-style: none;font-style: italic;margin: 0;padding: 15px;border-bottom: 1px solid #eee;line-height: 170%;}
ul.chat label {display: inline;font-weight: 700;font-style: normal;}
ul.chat li.odd {}
footer#colophone .social ul li a {font-size: 24px;color: #000;margin-right: 10px;}
.pagination button.older, .pagination button.newer {height: 40px;border-radius: 20px;}
.justified-gallery {margin: 40px 0;}
#TB_closeWindow .screen-reader-text, #TB_ImageOff .screen-reader-text {display: block;text-indent: -99999px;}
#sb_instagram {position: relative;top: 4px;}
#sb_instagram img {width: 100%;height: auto;}
#sb_instagram .sb_instagram_header {text-align: center;margin: 20px auto;}
#sb_instagram .sb_instagram_header a {float: none;display: inline-block;text-align: center;margin: 0 auto;}
.aligncenter {text-align: center;margin-left: auto;margin-right: auto;}
.alignleft {float: left;}
.alignright {float: right;}
.hentry img {max-width: 100%;height: auto;}
img.size-full {margin-bottom: 20px;}
img.alignnone {display: inline;}
img.alignright {display: inline;margin-left: 20px;margin-bottom: 20px;}
img.alignleft {display: inline;margin-right: 20px;margin-bottom: 20px;}
img.aligncenter {display: block;margin: 0 auto;}
div.alignnone {margin: 0 0 20px 0;}
div.alignleft {margin: 0 20px 20px 0;}
div.alignright {margin: 0 0 20px 20px;}
div.aligncenter {margin: 20px auto;}
ul.sub-menu {margin-bottom: 0;}
.gallery {margin: 0 auto 18px;}
.post-content .gallery {margin: 20px auto !important;}
.gallery .gallery-item {float: left;margin-top: 0;text-align: center;width: 33%;}
.gallery-columns-1 .gallery-item {margin-bottom: 20px;}
.gallery-columns-2 .gallery-item {width: 49% !important;margin: 0 1% 1% 0;}
.gallery-columns-3 .gallery-item {width: 32% !important;margin: 0 1% 1% 0;}
.gallery-columns-4 .gallery-item {width: 24% !important;margin: 0 1% 1% 0;}
.gallery img {cursor: zoom-in;border: none !important;}
.gallery img:hover {background: white;}
.gallery-columns-2 .attachment-medium {max-width: 92%;height: auto;}
.gallery-columns-4 .attachment-thumbnail {max-width: 84%;height: auto;}
.gallery .gallery-caption {color: #888;font-size: 13px;margin: 0;}
.gallery dl, .gallery dt {margin: 0;}
.gallery br+br {display: none;}
.gallery-caption, .entry-caption {float: left;clear: both;width: 100%;font-size: .8em;line-height: 120%;margin-top: 2px;}
.wp-caption {max-width: 100%;color: #aaa;font-size: 11px;line-height: 14px;margin: 0 0 1em;padding: 0;}
.wp-caption img {}
.wp-caption p.wp-caption-text {clear: both;font-size: 14px;font-style: normal;margin: 5px 0 0 0;}
.sticky {}
.bypostauthor {}
.post-password-form input[type="submit"] {margin-top: 20px;}