@media screen and (max-width: 1080px) {.container {max-width: 90%;}
	#primary {width: 68%;max-width: 680px;}
	#sidebar {width: 27%;max-width: 260px;}
	#about-site .thumbnail, .about-author .thumbnail {float: none;margin: 0 auto 40px auto;}
	#about-site .detail, .about-author .detail {margin-left: 0;text-align: center;}
	.widgets.comments-widget ul li .thumbnail {width: 60px;height: 60px;}
	.widgets.comments-widget ul li .detail {margin-left: 90px;}
	.widgets.comments-widget ul li .comment-response .thumbnail {width: 40px;height: 40px;}
	.widgets.comments-widget ul li .comment-response .detail {margin-left: 70px;}
	h3.post-title {font-size: 24px;}
	.post-navigation ul li {width: 100%;padding: 0;text-align: left;}
	.post-navigation ul li:last-child {margin-bottom: 0;}
	.post-navigation ul li span {margin-bottom: 0;}}
@media screen and (max-width: 800px) {body.admin-bar #nprogress .bar {top: 46px;}
	body.admin-bar #nprogress .spinner {top: 61px;}
	.container {max-width: 80%;}
	#primary {width: 100%;margin-right: 0;margin-left: 0;}
	#sidebar {float: none;clear: both;width: 100%;max-width: 100%;margin-bottom: 50px;}
	.primary-navigation ul.main-menu {display: none;}
	.select-menu {display: inline-block;}
	#masthead .header-main {padding: 15px 0;}}
@media screen and (max-width: 782px) {body.logged-in.admin-bar #jPanelMenu-menu {padding-top: 66px;}}
@media screen and (max-width: 600px) {body.logged-in.admin-bar #jPanelMenu-menu {padding-top: 20px;}
	html.jPanelMenu {margin-top: 0 !important;}
	.menu-trigger {margin-top: 46px;}}
@media screen and (max-width: 640px) {.pagination a.older, .pagination a.newer {float: none !important;margin-bottom: 30px;display: block;width: 100%;text-align: center;}
	.pagination a {display: none;}
	.menu-trigger {left: 10%;margin-left: 0;}
	.form-group.col-60 {width: 100%;}
	.widgets.comments-widget ul li .thumbnail, .widgets.comments-widget ul li .comment-response .thumbnail {display: none;}
	.widgets.comments-widget ul li .detail, .widgets.comments-widget ul li .comment-response .detail, .widgets.comments-widget ul.children {margin-left: 0;}
	.widgets.comments-widget ul.children .detail {margin-left: 40px;}
	.widgets.comments-widget ul li .comment-response {margin-left: 40px;}
	.gallery-grid .gallery ul li {width: 100%;padding: 0;margin-bottom: 10px;}}
@media screen and (max-width: 480px) {#logo img {max-width: 80%;}
	.inner, .pagination {padding: 0 10px 60px 10px;}
	.container {max-width: 90%;}
	article.hentry h3.post-title, #primary article.format-quote blockquote {font-size: 28px !important;}
	article.hentry h1.post-title {font-size: 35px !important;}
	.yarpp-related a.yarpp-thumbnail {width: 100%;height: auto;}
	.yarpp-related a.yarpp-thumbnail img {float: left;width: 100px;height: auto;margin-right: 20px;}
	.yarpp-related .yarpp-thumbnails-horizontal .yarpp-thumbnail-title {display: block;width: auto;margin-top: 0;}
	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, #sb_instagram.sbi_col_4 #sbi_images .sbi_item, #sb_instagram.sbi_col_5 #sbi_images .sbi_item, #sb_instagram.sbi_col_6 #sbi_images .sbi_item, #sb_instagram.sbi_col_7 #sbi_images .sbi_item, #sb_instagram.sbi_col_8 #sbi_images .sbi_item, #sb_instagram.sbi_col_9 #sbi_images .sbi_item, #sb_instagram.sbi_col_10 #sbi_images .sbi_item {width: 50%;}}