@font-face {font-family: "icomoon";src: url("fonts/icomoon.eot?-f452lq");src: url("fonts/icomoon.eot?#iefix-f452lq") format("embedded-opentype"),url("fonts/icomoon.woff?-f452lq") format("woff"),url("fonts/icomoon.ttf?-f452lq") format("truetype"),url("fonts/icomoon.svg?-f452lq#icomoon") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-chevron-left:before {content: "";}
.icon-chevron-right:before {content: "";}
.icon-social-dribble:before {content: "";}
.icon-social-facebook:before {content: "";}
.icon-social-flickr:before {content: "";}
.icon-social-googleplus:before {content: "";}
.icon-social-instagram:before {content: "";}
.icon-social-linkedin:before {content: "";}
.icon-social-pinterest:before {content: "";}
.icon-social-tumblr:before {content: "";}
.icon-social-twitter:before {content: "";}
.icon-social-vimeo:before {content: "";}
.icon-social-youtube:before {content: "";}
.icon-uniE70D:before {content: "";}
.icon-thumbsup:before {content: "";}
.icon-eye:before {content: "";}
.icon-paper-clip:before {content: "";}
.icon-mail:before {content: "";}
.icon-toggle:before {content: "";}
.icon-layout:before {content: "";}
.icon-link:before {content: "";}
.icon-bell:before {content: "";}
.icon-lock:before {content: "";}
.icon-unlock:before {content: "";}
.icon-ribbon:before {content: "";}
.icon-image:before {content: "";}
.icon-signal:before {content: "";}
.icon-target:before {content: "";}
.icon-clipboard:before {content: "";}
.icon-clock:before {content: "";}
.icon-watch:before {content: "";}
.icon-air-play:before {content: "";}
.icon-camera:before {content: "";}
.icon-video:before {content: "";}
.icon-disc:before {content: "";}
.icon-printer:before {content: "";}
.icon-monitor:before {content: "";}
.icon-server:before {content: "";}
.icon-cog:before {content: "";}
.icon-heart:before {content: "";}
.icon-paragraph:before {content: "";}
.icon-align-justify:before {content: "";}
.icon-align-left:before {content: "";}
.icon-align-center:before {content: "";}
.icon-align-right:before {content: "";}
.icon-book:before {content: "";}
.icon-layers:before {content: "";}
.icon-stack:before {content: "";}
.icon-stack-2:before {content: "";}
.icon-paper:before {content: "";}
.icon-paper-stack:before {content: "";}
.icon-search:before {content: "";}
.icon-zoom-in:before {content: "";}
.icon-zoom-out:before {content: "";}
.icon-reply:before {content: "";}
.icon-circle-plus:before {content: "";}
.icon-circle-minus:before {content: "";}
.icon-circle-check:before {content: "";}
.icon-circle-cross:before {content: "";}
.icon-square-plus:before {content: "";}
.icon-square-minus:before {content: "";}
.icon-square-check:before {content: "";}
.icon-square-cross:before {content: "";}
.icon-microphone:before {content: "";}
.icon-record:before {content: "";}
.icon-skip-back:before {content: "";}
.icon-rewind:before {content: "";}
.icon-play:before {content: "";}
.icon-pause:before {content: "";}
.icon-stop:before {content: "";}
.icon-fast-forward:before {content: "";}
.icon-skip-forward:before {content: "";}
.icon-shuffle:before {content: "";}
.icon-repeat:before {content: "";}
.icon-folder:before {content: "";}
.icon-umbrella:before {content: "";}
.icon-moon:before {content: "";}
.icon-thermometer:before {content: "";}
.icon-drop:before {content: "";}
.icon-sun:before {content: "";}
.icon-cloud:before {content: "";}
.icon-cloud-upload:before {content: "";}
.icon-cloud-download:before {content: "";}
.icon-upload:before {content: "";}
.icon-download:before {content: "";}
.icon-location:before {content: "";}
.icon-location-2:before {content: "";}
.icon-map:before {content: "";}
.icon-battery:before {content: "";}
.icon-head:before {content: "";}
.icon-briefcase:before {content: "";}
.icon-speech-bubble:before {content: "";}
.icon-anchor:before {content: "";}
.icon-globe:before {content: "";}
.icon-box:before {content: "";}
.icon-reload:before {content: "";}
.icon-share:before {content: "";}
.icon-marquee:before {content: "";}
.icon-marquee-plus:before {content: "";}
.icon-marquee-minus:before {content: "";}
.icon-tag:before {content: "";}
.icon-power:before {content: "";}
.icon-command:before {content: "";}
.icon-alt:before {content: "";}
.icon-esc:before {content: "";}
.icon-bar-graph:before {content: "";}
.icon-bar-graph-2:before {content: "";}
.icon-pie-graph:before {content: "";}
.icon-star:before {content: "";}
.icon-arrow-left:before {content: "";}
.icon-arrow-right:before {content: "";}
.icon-arrow-up:before {content: "";}
.icon-arrow-down:before {content: "";}
.icon-volume:before {content: "";}
.icon-mute:before {content: "";}
.icon-content-right:before {content: "";}
.icon-content-left:before {content: "";}
.icon-grid:before {content: "";}
.icon-grid-2:before {content: "";}
.icon-columns:before {content: "";}
.icon-loader:before {content: "";}
.icon-bag:before {content: "";}
.icon-ban:before {content: "";}
.icon-flag:before {content: "";}
.icon-trash:before {content: "";}
.icon-expand:before {content: "";}
.icon-contract:before {content: "";}
.icon-maximize:before {content: "";}
.icon-minimize:before {content: "";}
.icon-plus:before {content: "";}
.icon-minus:before {content: "";}
.icon-check:before {content: "";}
.icon-cross:before {content: "";}
.icon-move:before {content: "";}
.icon-delete:before {content: "";}
.icon-menu:before {content: "";}
.icon-archive:before {content: "";}
.icon-inbox:before {content: "";}
.icon-outbox:before {content: "";}
.icon-file:before {content: "";}
.icon-file-add:before {content: "";}
.icon-file-subtract:before {content: "";}
.icon-help:before {content: "";}
.icon-open:before {content: "";}
.icon-ellipsis:before {content: "";}